BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'false'
IncludeBlocks: Regroup
IndentWidth: '4'
Language: Cpp
SortIncludes: 'true'
ColumnLimit: 110